.container .navbar-brand {
    font-weight: 600;
    color: #1F1F1F;
    font-family: 'Poppins', serif;
    letter-spacing: 0.1em;
}

.navbar-text {
    font-weight: 600;
    color: #1F1F1F !important;
    font-family: 'Poppins', serif;
    letter-spacing: 0.1em;
}

/*.navbar.navbar-absolute {*/
/*    width: 93%;*/
/*}*/

/*.navbar-brand {*/
/*    margin-right: 4%;*/
/*}*/

h4 {
    color: black;
    font-weight: 900 !important;;
    font-family: 'Poppins', serif;
    letter-spacing: 0.1em;
}

.navbar-text {
    color: black;
    font-weight: 900 !important;;
    font-family: 'Poppins', serif;
    letter-spacing: 0.1em;
}

#made-for-01 {
    left: 13vw;
    top:40vh;
    text-shadow: 0px 2px 2px #000000;
}

#made-for-01-text {
    font-weight: 600;
    color: #1F1F1F;
    font-family: 'Poppins', serif;
    letter-spacing: 0.1em;
}

#made-for-02-text {
    font-weight: 600;
    color: #1F1F1F;
    font-family: 'Poppins', serif;
    letter-spacing: 0.1em;
}

#made-for-03-text {
    font-weight: 600;
    color: #1F1F1F;
    font-family: 'Poppins', serif;
    letter-spacing: 0.1em;
}

.carousel-indicators {
    margin-right: 7%;
}

.bg-dark {
    background-color: black !important;
}


.customul{
    /* text-align: center; */
    text-justify: auto;

}

.customul ul li {
    justify-content: start;
    list-style: none;
}

.customul ul li a {

    font-size: 2em;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
    color: #ABABAB !important;
}

.customul ul li a:hover {
    font-weight: 600;
    color: #272727 !important;
}

.customul ul li a:hover:after {
    content: '\2192';
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translateY(-50%);
}

.customul ul:hover li a {
    color: rgba(255, 255, 255, .1);
}



